meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Informe de gestión
meta(meta name="description" content="El en presente componente se abordará la importancia de la realización del informe de gestión, siendo este un documento donde se presentan los resultados obtenidos que se han realizado en un periodo de tiempo; estos permiten reconocer de una manera práctica los avances reales de las gestiones que realiza una empresa, mediante el seguimiento a las actividades planeadas.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")