h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Establecer informes de gestión de talento humano acorde a los resultados obtenidos en la ejecución de los planes y programas


