.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Cualitativo:
            | cualitativo es un adjetivo que se utiliza para designar cualidades.

        p
            strong.mr-2 Cuantitativo:
            | cuantitativo es un adjetivo referido a cantidad. 

        p
            strong.mr-2 Gestión:
            | actuación que se realiza para administrar o dirigir de manera específica acciones o sucesos, con el ánimo de conseguir algo.

        p
            strong.mr-2 Informe:
            | es la presentación de los resultados obtenidos, conforme al proceso de planificación.

        p
            strong.mr-2 Monitorear:
            | es un ejercicio que se hace para controlar el avance, en la gestión, a fin de determinar los ajustes o cambios necesarios para el logro de los objetivos propuestos.

        p
            strong.mr-2 Relevante:
            | el término relevante hace referencia a algo significativo, importante, sobresaliente, destacado.
