include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias

        +referenciaItem("Beltrán, J. (2013). Herramientas para lograr la competitividad. (3a.ed.). Bogotá D.C.: Editorial Panamericana ")
        +referenciaItem("Cómo hacer un informe de Gestión. (s.f.). Disponible en: ", "https://www.nextu.com/blog/4-pasos-para-crear-tus-informes-de-gestion/")
        +referenciaItem("Cuesta Santos, A.  (2014). Indicadores de gestión humana y del conocimiento en la empresa. Bogotá D.C.: Editorial Ecoe Ediciones")
        +referenciaItem("Sánchez, C. (08 de febrero de 2019). Normas APA – 7ma (séptima) edición. Normas APA (7ma edición)")
        +referenciaItem("ABCM. (s.f.). Informes de Gestión: ¿Qué son y cómo se hacen? Obtenido de Informes de Gestión: ¿Qué son y cómo se hacen?: ", "https://www.myabcm.com/es/blog-post/informes-de-gestion/")

        +referenciaItem("Carta.net, M. (s.f.). Informe de gestión. Obtenido de Informe de gestión: ", "https://www.modelocarta.net/informe-de-gestion.html")
        +referenciaItem("López Carrizosa, F. (2011). Indicadores de gestión. (1a ed.). Bogotá D.C: Editorial: Instituto Colombiano de Normas Técnicas y Certificación, ICONTEC")
        +referenciaItem("Rincón, R. D. (1998). Los indicadores de gestión organizacional: una guía para su definición. Revista Universidad EAFIT, 34(111), 43-59. ", "http://publicaciones.eafit.edu.co/index.php/revista-universidad-eafit/article/view/1104/996")

        +referenciaItem("Silva, David. (2012). Teoría de indicadores de gestión y su aplicación práctica. Universidad Militar Nueva Granada.  ", "http://www.umng.edu.co/documents/10162/745281/V3N2_29.pdf")

        +referenciaItem("Toro López, F. (2016). Indicadores y Tableros de Control de Proyectos. Colombia: Editorial Ediciones de la U.")
        +referenciaItem("Uribe Macias, M. y Reinoso, J.  (2014). Sistemas de Indicadores de Gestión. México. Mc Graw-Hill.")

    
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            