.container#page-tema-1

    .header-ecored
        h1 1. Informe de gestión

    .jumbotron.bg-white 

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen1.png", alt="").img-fluid

        .row

            p Los informes de gestión permiten analizar y evaluar la realidad de lo que está sucediendo, y de acuerdo con los resultados tomar las acciones para corregir las desviaciones, o replantear las acciones que se vienen desarrollando. 

    .jumbotron.bg-white 
        .header#tema-1_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.1] Definición

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen2.png", alt="").img-fluid

        .row
            p Un informe de gestión es un documento que reúne los resultados obtenidos en un periodo de tiempo sobre las acciones realizadas. El informe debe contener aspectos relevantes que permitan monitorear los resultados con mayor facilidad. 

    .jumbotron.bg-white 
        .header#tema-1_2.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.2] Estructura 

        .row
            p Antes de iniciar, es importante tener claridad sobre la finalidad que tendrá el informe, a quién se dirige, los datos que se quieren incluir, y cómo estos pueden contribuir a la toma de decisiones; de esta forma, se tendrá un documento completo que permita implementar acciones para la mejora. 
            
            p La estructura general de los informes está compuesta por:


        .jumbotron.bg-gris.recuadro-border.mt-5
            .list.mt-3.justify-content-center
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    h2.text-justify #[strong 4.2.1 El encabezado]

            .row.mt-5
                p El informe de gestión debe contener un encabezado, con información básica que incluya los siguientes datos, con el fin de ubicar a las personas que lo lean: 

            .row.justify-content-center.align-items-center.my-5   
                .col-12.col-md-4.my-6.my-md-0
                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                        .list__txt    
                            p.text-justify Nombre de la empresa. 

                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                        .list__txt    
                            p.text-justify Tipo de documento. 

                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                        .list__txt    
                            p.text-justify Responsable de la elaboración.

                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                        .list__txt    
                            p.text-justify Periodo de gestión.
                
                .col-12.col-md-4.my-6.my-md-0

                    .row.justify-content-center.align-items-center.mt-5                
                        img(src="assets/images/pages/tema-1/imagen3.png", alt="").img-fluid


        .jumbotron.bg-gris.recuadro-border.mt-5
            .list.mt-3.justify-content-center
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    h2.text-justify #[strong 4.2.2 La introducción ]

            .row.justify-content-center.align-items-center.my-5   
                .col-12.col-md-4.my-6.my-md-0
                    p En la introducción se presentan los motivos por los que se realiza el informe (objetivos coherentes con la información que se quiere presentar), las herramientas que se tuvieron en cuenta, y se hace un resumen de los aspectos que se abordarán en del desarrollo, (cuerpo del documento), así se tendrá la información básica para que los destinatarios comprendan lo que será analizado en el documento. 

                .col-12.col-md-4.my-6.my-md-0
                    .row.justify-content-center.align-items-center.mt-5                
                        img(src="assets/images/pages/tema-1/imagen4.png", alt="").img-fluid


        .jumbotron.bg-gris.recuadro-border.mt-5
            .list.mt-3.justify-content-center
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    h2.text-justify #[strong 4.2.3 El desarrollo]

            .row.justify-content-center.align-items-center.mt-5                
                img(src="assets/images/pages/tema-1/imagen5.png", alt="").img-fluid
            
            .row.mt-5       
                p El desarrollo (cuerpo del documento) es la parte central del informe, donde se presentan de manera precisa y detallada los datos que se anticiparon en la introducción; acompañando la información de índices, tablas, gráficos y datos. 

                p En el desarrollo, se tienen en cuenta puntos clave que son comunes a todos los informes, independiente de los motivos por los que se realizan. Estos puntos aportan información útil para la toma de decisiones: 
                
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify #[strong Antecedentes:] corresponden a todo lo que ha hecho la empresa con anterioridad, relacionado con el problema o necesidad que se quiere resolver. Si existe información al respecto, se deben indicar los autores, el año de realización, los motivos por los que se realizó el informe y los hallazgos, además los recursos y metodologías que utilizaron. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify #[strong Fuentes de información:]  se refieren a los diversos documentos o soportes de donde se obtiene la información, como entrevistas, encuestas, cuestionarios libros, revistas, artículos, documentales, grabaciones, videos.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify #[strong Metodología:]  con los procedimientos, utilizados para el logro de los objetivos o resultados 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify #[strong Resultados:] en este punto se presenta el avance o logro de los objetivos, en forma cualitativa o cuantitativa, y los problemas encontrados. Los resultados se muestran con todas las observaciones relevantes, acompañadas de métricas de desempeño y elementos visuales que permitan una mejor compresión de la información (tablas, gráficos, índices, fotografías). 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify #[strong Otros datos que se consideren importantes para la toma de decisiones.]

        .jumbotron.bg-gris.recuadro-border.mt-5
            .list.mt-3.justify-content-center
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    h2.text-justify #[strong 4.2.4 La conclusión]

            .row.justify-content-center.align-items-center.my-5   
                .col-12.col-md-4.my-6.my-md-0
                    p En la conclusión se deduce qué tan exitosa ha sido la gestión, de acuerdo con el análisis de los resultados obtenidos. En la conclusión se sintetiza y analiza los puntos más relevantes de la introducción y el desarrollo, pero sin transcribir lo que se tenía escrito. 

                .col-12.col-md-4.my-6.my-md-0
                    .row.justify-content-center.align-items-center.mt-5                
                        img(src="assets/images/pages/tema-1/imagen6.png", alt="").img-fluid

    .jumbotron.bg-white 
        .header#tema-1_3.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.3] Organización del informe

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen7.png", alt="").img-fluid

        .row
            p Los informes son la base para la toma de decisiones, de ahí la importancia de presentarlo de manera organizada, con información relevante y de fácil comprensión, para las personas que tienen la facultad de dirigir y tomar decisiones de acuerdo con los resultados obtenidos.

        .row.mt-3
            .col-12
                .header-arrow.my-5
                    h3.text-center Cómo organizarlo

        .jumbotron.bg-gris.recuadro-border.mt-5
            h2.text-center #[strong Portada]

            .row.my-5   
                p Con los siguientes datos, que guardan relación con los del encabezado, definidos en el numeral 4.2.1.
                
            .row.justify-content-center.align-items-center.mt-5                
                img(src="assets/images/pages/tema-1/imagen8.svg", alt="").img-fluid

        .jumbotron.bg-gris.recuadro-border.mt-5
            h2.text-center #[strong Tabla de contenido]

            .row.my-5   
                p Donde se enumeran los contenidos del informe, puede añadir también índices para tablas y gráficos.
                
            .row.justify-content-center.align-items-center.mt-5                
                img(src="assets/images/pages/tema-1/imagen9.png", alt="").img-fluid

        .jumbotron.bg-gris.recuadro-border.mt-5
            h2.text-center #[strong Introducción]

            .row.my-5   
                p De acuerdo con lo indicado en el numeral 4.2.2.
                
            .row.justify-content-center.align-items-center.mt-5                
                img(src="assets/images/pages/tema-1/imagen10.png", alt="").img-fluid

        .jumbotron.bg-gris.recuadro-border.mt-5
            h2.text-center #[strong Desarrollo]

            .row.my-5   
                p Corresponde al cuerpo del informe definido en el numeral 4.2.3, en el cual se incluyen puntos clave para la toma de decisiones: antecedentes, fuentes de información, metodología, resultados y otros datos que se consideren importantes para la toma de decisiones.

                
            .row.justify-content-center.align-items-center.mt-5                
                img(src="assets/images/pages/tema-1/imagen11.png", alt="").img-fluid

        .jumbotron.bg-gris.recuadro-border.mt-5
            h2.text-center #[strong Conclusiones]

            .row.my-5   
                p Es la parte final del informe. (numeral 4.2.4). Las conclusiones giran en torno a los objetivos con respecto a los resultados obtenidos. Para iniciar las conclusiones podemos utilizar frases como: 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Los resultados obtenidos muestran que…  


                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justifyDentro del análisis expuesto…


                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justifyFrente a los resultados obtenidos…
                
            .row.justify-content-center.align-items-center.mt-5                
                img(src="assets/images/pages/tema-1/imagen12.png", alt="").img-fluid

        .jumbotron.bg-gris.recuadro-border.mt-5
            h2.text-center #[strong Anexos]

            .row.my-5   
                p Los anexos son documentos que se incluyen al final del informe, con el fin de ampliar información presentada en el documento, por ejemplo: encuestas, mapas, fotografías, cálculos matemáticos, formatos, manuales, instructivos. 

                
            .row.justify-content-center.align-items-center.mt-5                
                img(src="assets/images/pages/tema-1/imagen13.png", alt="").img-fluid

        .jumbotron.bg-gris.recuadro-border.mt-5
            h2.text-center #[strong Detalles estéticos]

            .row.my-5   
                p Respondiendo a normas técnicas se sugiere configurar el informe en Word con las siguientes características: 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Tamaño del papel: carta. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Márgenes: 2,54 para todos los lados (superior, inferior, derecha, izquierda).

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Tipo y tamaño de fuente: calibri o arial de 11 puntos, para todo el documento incluyendo títulos y subtítulos.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Numeración de páginas: Se debe ubicar en la esquina superior derecha.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Interlineado: doble. 

            .row.justify-content-center.align-items-center.mt-5                
                img(src="assets/images/pages/tema-1/imagen14.png", alt="").img-fluid

        .jumbotron.bg-gris.recuadro-border.mt-5
            h2.text-center #[strong Revisión final]

            .row.my-5   
                p Es importante hacer una revisión final para verificar que no tenga errores ortográficos o información que no corresponda. 

                p Para garantizar un buen informe de gestión es fundamental, verificar que el documento responda a las siguientes preguntas:

            .row.justify-content-center.align-items-center.my-5   
                .col-12.col-md-4.my-6.my-md-0
                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                        .list__txt    
                            p.text-justify ¿Qué se planeó?

                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                        .list__txt    
                            p.text-justify ¿Qué se hizo?


                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                        .list__txt    
                            p.text-justify ¿Qué se logró?


                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                        .list__txt    
                            p.text-justify ¿Qué problemas se presentaron? 


                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                        .list__txt    
                            p.text-justify ¿Cómo se resolvieron? 


                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                        .list__txt    
                            p.text-justify ¿Qué se va a hacer?

                .col-12.col-md-4.my-6.my-md-0
                    .row.justify-content-center.align-items-center.mt-5                
                        img(src="assets/images/pages/tema-1/imagen14.png", alt="").img-fluid
