//Colores base del material de formación
$brand-color-dark: #0DA4BC;
$text-color-dark: #FFFFFF;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #FCF3E3;
$text-color-light: #E6B54A;
$brand-color-secondary:#E6B54A;

